BOT_TOKEN=PUT_TELEGRAM_BOT_TOKEN_HERE

IMAP_HOST=mail.xn--n1aabj.su
IMAP_PORT=993
SMTP_HOST=mail.xn--n1aabj.su
SMTP_PORT=587

CHECK_INTERVAL_SECONDS=25
SMTP_USE_STARTTLS=true
DB_PATH=/opt/mail_tg_bot/mailbot.sqlite3

# Optional: enable mailbox self-registration via Mailcow API
MAILCOW_API_URL=https://mail.xn--n1aabj.su
MAILCOW_API_KEY=
